{% extends 'base/general.html' %}


{% block content %}
    <div class="container-sm py-5">
        
        <h1 class="mb-5">Carrito de compras</h1>
        <div class="table-responsive-sm">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>    
                    {% for c in cart  %}
                        <!-- creamos una referencia al elemento, asi que creamos un bloque logico -->
                    {% with product=c.producto  %}
                            <tr class="align-middle">
                                <!-- Esto nos devuelve el carrito {'cantidad': 10, 'precio': Decimal('2222.0'), 'producto': <Producto: articulo de prueba>, 'precio_total': Decimal('22220.0')} -->
                                <td>
                                    
                                    {% if product.imagen %}
                                        <img src="{{ product.imagen.url }}" width="100px" alt="{{ product.titulo }}">
                                    {% endif %}
                                        
                                </td>
                                <td>{{ product.titulo }}</td>
                                <td>{{ c.cantidad }}</td>
                                <td>${{ c.precio }}</td> <!-- tambien podemos colocar product.precio que seria el precio actualizado -->
                                <td>${{ c.precio_total }}</td>
                                <td>
                                    <form action="{% url 'tienda:cart_remove' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endwith %}
                        
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td><strong>Total</strong></td>
                        <td><strong>${{ cart.get_total_price }}</strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row justify-content-center py-5">
            <div class="col-4">
                <a href="{% url 'tienda:cart_delete' %}" class="btn btn-danger">Vaciar carrito</a>
                
            </div>
            <div class="col-4"> 
                <button class="btn btn-info">Finalizar compra</button>
            </div> 
            
        </div>
    </div>
{% endblock content %}
    