{% url 'tienda:index' as index %}
{% url 'tienda:login' as login %}
{% url 'tienda:logout' as logout %}
{% url 'tienda:register' as register %}
{% url 'tienda:acerca' as acerca %}
{% url 'tienda:categoria' as categories %}
{% url 'tienda:nuevo' as nuevo_producto %}

<nav class="container-flex" style="width: 100%;margin:auto;">
  <div class="row p-3" >
    <div class="col-md-6">
      <a href="{% url 'tienda:index' %}"><h1 class="titulo">Jaguarete Kaa SA</h1></a>
    </div>
    <div class="col-md-6 pt-2" style="display:flex;justify-content:flex-end;margin:auto;">
      
      {% if user.is_authenticated %}
        <h3 class="login"><i class="fas fa-user"></i> &nbsp;{{ user.username }}</h3>&nbsp;
        
        {% if user.is_staff %}
          <a href="{{ logout }}" class="btn btn-primary" ><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>

        {% else %}
          <a href="{% url 'tienda:cart_detalle' %}" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>&nbsp;Carrito</a>&nbsp;
          <a href="{{ logout }}" class="btn btn-primary" ><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
        {% endif %}
                      
      {% else %}
        <a href="{{ login }}" class="btn btn-primary"><i class="fas fa-user"></i>&nbsp; Login</a>&nbsp;
        <a href="{{ register }}" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp;Registro</a>
      {% endif %}
              
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <br>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link btn {% if request.path == index %}active{% endif %}" aria-current="page" href="{% url 'tienda:index' %}">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn {% if request.path == categories %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CATEGORIAS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            {% for categoria in categorias %}
              <li><a class="dropdown-item "  href="{% url 'tienda:categoria' categoria.id %}">{{ categoria.descripcion }}</a></li>
            {% endfor %}
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link btn {% if request.path == acerca %}active{% endif %}" href="{% url 'tienda:acerca' %}">ACERCA DE...</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" target="_blank" href="mailto:jordana.escalona@gmail.com?subject=Contacto%20desde%20Jaguarete%20Kaa%20SA">CONTACTO</a>
        </li>
        
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == nuevo_producto %}active{% endif %}" href="{{ nuevo_producto }}" tabindex="-1" >NUEVO PRODUCTO</a>
          </li>
        {% endif %}
               
      </ul>
      <form class="d-flex" action="{% url 'tienda:buscar' %}" method="GET">
        <input class="form-control me-2" type="search" name="q" value="{{ query }}" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
