{% extends 'base/general.html' %}

{% block content %}
<div class="container py-5">
    <h1>Categoria: {{ titulo }}</h1>
    <div class="list-group mt-3" style="word-wrap: break-Word;">

      {% for producto in productos %}

        <a href="{% url 'tienda:producto' producto.id %}" class="list-group-item list-group-item-action">
          <img src="{{ producto.imagen.url }}" width="100px">&nbsp;
          <strong class="h4">{{ producto.titulo }}</strong><br> 
          {{ producto.descripcion }}
        </a><br>
      {% endfor %}
        
    </div>
</div>
{% endblock content %}
    